#building-manager {
  max-width: 520px;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 1rem;
}

#building-list {
  max-width: 480px;
}

#edit-building-content {
  padding: 2rem;
}

#edit-building-header {
  margin-top: 2rem;
}
