#space-availability-parameters {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.space-availability-parameter-formcontrol {
  margin: 0.5rem 1.5rem 0.5rem 1.5rem !important;
}
