@import "./appbar";
@import "./space_availability_board";

.App {
  text-align: center;
}

#app-content {
  max-height: 75vh;
  margin-top: 3vh;
  overflow-x: auto;
}

#app-content-section {
  max-width: 80vw;
  margin: auto;
}

#view-header-text {
  margin-top: 1rem;
  cursor: default;
}
